<!DOCTYPE html>
<html ng-app='helloModule'>
  <head>
    <title>Angular Practice</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"
            type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
  </head>
  <body>

    <div ng-controller="alpha">

      <h1>!!!! ---- {{ greeting }} ---- !!!!</h1>
      <h3 ng-bind="subGreeting"></h3>

      <button ng-click="fightPutty()">Fight putty</button>

    </div>

    <div ng-controller="betaCtrl as beta">
      <h1>{{ beta.beans }}</h1>
      <input type="text" placeholder="favorite beans" ng-model='beta.myFavoriteBeans'/>
      <button ng-click="beta.addBeans()">Add Beans</button>
      <p ng-repeat="beans in beta.myBeans track by $index">{{ beans }}</p>
      <button ng-click="beta.removeBean()">Remove a Bean</button>
    </div>

  </body>
</html>
